<form name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>
  <fieldset>
    <!-- FIRST NAME -->
    <div class="form-group" ng-class="{ 'has-error': contactForm.firstName.$touched && contactForm.firstName.$invalid }">
      <label>First Name</label>
      <input type="text" name="firstName" class="form-control" ng-model="contact.firstName" required>
      <div class="help-block" ng-messages="contactForm.firstName.$error" ng-if="contactForm.firstName.$touched">
        <p ng-message="required">Your first name is required.</p>
      </div>
    </div>

    <!-- LAST NAME -->
    <div class="form-group" ng-class="{ 'has-error': contactForm.lastName.$touched && contactForm.lastName.$invalid }">
      <label>Last Name</label>
      <input type="text" name="lastName" class="form-control" ng-model="contact.lastName" required>
      <div class="help-block" ng-messages="contactForm.lastName.$error" ng-if="contactForm.lastName.$touched">
        <p ng-message="required">Your last name is required.</p>
      </div>
    </div>

    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error': contactForm.email.$touched && contactForm.email.$invalid }">
      <label>Email</label>
      <input type="email" name="email" class="form-control" ng-model="contact.email" required ng-pattern="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i">
      <div class="help-block" ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
        <p ng-message="required">Your e-mail is required.</p>
        <p ng-message="pattern">E-mail is not valid.</p>        
      </div>
    </div>

    <!-- ADDRESS -->
    <div class="form-group">
      <label>Address</label>
      <input type="text" name="address" class="form-control" ng-model="contact.address">
    </div>

    <div class='row'>
      <!-- CITY -->
      <div class="col-md-8">    
        <div class="form-group">
          <label>City</label>
          <input type="text" name="city" class="form-control" ng-model="contact.city">
        </div>
      </div>

      <!-- ZIPCODE -->
      <div class="col-md-4" ng-class="{ 'has-error': contactForm.zipcode.$touched && contactForm.zipcode.$invalid }">
        <div class="form-group">
          <label>Zip Code</label>
          <input type="text" name="zipcode" class="form-control" ng-model="contact.zipcode" ng-pattern="/^\d{5}$/">
          <div class="help-block" ng-messages="contactForm.zipcode.$error" ng-if="contactForm.zipcode.$touched">
            <p ng-message="pattern">Invalid zip code (5 digits)</p>
          </div>
        </div>
      </div>
    </div>

    <!-- COUNTRY -->
    <div class="form-group">
      <label>Country</label>
      <input type="text" name="country" class="form-control" ng-model="contact.country">
    </div>

    <div class='row text-center'>
      <input type="submit" value="Save" class="btn btn-primary" ng-click="saveContact(contact)" ng-disabled="contactForm.$invalid">
      <a href="#/contacts" class="btn btn-default">Back to List</a>
    </div>
  </fieldset>
</form>
